.filters {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* 垂直居中对齐 */
}

.filters select{
    margin-right: 10px;
    padding: 5px;
    background-color: #DBEBFF;
    width: 100px;
}

.filters input {
    width: 30%;
    border-radius: 4px;
    height: 25px;

}

.filters .new-button {
    background-color: #007bff; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    padding: 5px 10px; /* 按钮内边距 */
    border: none; /* 去掉边框 */
    border-radius: 4px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停样式 */
}

.new-button{
    margin-left: 60%;
    width: 100px;
}

.filters .new-button:hover {
    background-color: #0056b3; /* 悬停效果 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #DBEBFF;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50vw; 
    height: 50vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
    background-color: #fff;
    border-radius: 8px;
}

.modal-content label {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.modal-content .input1 {
    width: 200px;
    border-radius: 4px; 
    height: 50px;

}

.modal-content .input2 {
    width: 400px;
    height: 100px;
    border-radius: 4px; 

}

.modal-content .input3 {
    width: 200px;
    border-radius: 4px; 

}

.input4 {
    width: 200px;
    border-radius: 4px; 
    margin-bottom: 20px;
    height: 50px;

}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 

}

.checkbox-group label {
    display: flex;
    align-items: center;
}


.checkbox-group div {
    flex-wrap: wrap; 
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;

    width: 350px;


}

.modal-buttons {
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
}

.modal-buttons button {
    padding: 15px 30px; 
    border: none; 
    border-radius: 5px; 
    background-color: #007bff; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
    background-color: #0056b3; 
}
