body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('./public/background-image.jpg') no-repeat center center;
    background-size: cover;
    padding: 0 1rem;
    height: 60px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    width: 10%;
    background-color: #DBEBFF;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    height: calc(100vh - 60px);
}

.sidebar ul {
    padding: 0;
    list-style: none;
    width: 100%;
}

.sidebar li {
    font-size: 1.2rem;
    color: #368DFF;
    margin: 20px 0;
    /* 调整间距 */
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    cursor: pointer;
    text-align: center;
    /* 确保文本居中 */
}

.rightcontain {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.maincontainer {
    width: 90%;
    background-color: #fff;
    box-sizing: border-box;
    height: calc(100vh - 60px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.titlecontain {
    display: flex;
    align-items: center;
}


h1 {
    color: #0072ff;
}

.buttons-container {
    display: flex;
    align-items: center;

}

.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: white;
    font-size: 10px;
    overflow: hidden; /* 隐藏超出部分 */


}

.blue {
    background-color: #0072ff;
}

.red {



    background-color: #ff0000;
}

.grey {
    background-color: #d3d3d3;
    color: black;
    margin-left: auto;
    height: 40px;
}



table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

th,
td {
    padding: 10px;
    text-align: center  ;
    border: none;

}

thead {
    background-color: #f0f8ff;
}

.link {
    cursor: pointer;
    margin-right: 10px;
}

.pass {
    color: #0072ff;
}

.reject {
    color: #ff0000;
}